.body-font-style
{
    font-family: serif;
    font-size: 24px;
}

.mrg-l
{
    margin-left: 30px;
}

.mrg-l-120
{
    margin-left: 120px;
    margin-right:120px;
}
.logo
{
    width: 80px;
    height: 70px;
}

.nav-back-color
{
    background-color: #F5F5F5;
}

.title
{
    margin-left: 50px;
    font-size: 96px;
}

.card
{
    width: 300px;
    height: 100px;
    text-align: center;
}

.old-cost
{
    color: green;
    font-size: 32px;
}

.new-cost
{
    color: red;
    font-size: 64px;
    margin-top: -40px;
}

.card-news
{
    width: 425px;
    height: 100px;
    text-align: center;
}

.title-big
{
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    text-decoration: underline;
}

.title-middle
{
    font-size: 36px;
    font-weight: bold;
}

iframe
{
    margin: 30px;
}